.contactCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: 'Oswald' !important;
    padding: 20px;
}

.contactCard {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: #68BCDF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactCard h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
}

.contactInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
	background-color: var(--contactButton-bg);
	color: var(--contactButton-text);
	box-shadow: 0 0 5px #000,
		inset 0 -3px 7px rgba(0, 0, 0, 0.4), inset 0 -5px 12px rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
	border-radius: 5px;
    cursor: pointer;
}

.contactButton:hover {
	background-color: var(--contactButton-bg);
	color: var(--contactButton-text);
	box-shadow: 0 0 5px #000,
		inset 0 -3px 7px rgba(0, 0, 0, 0.4), inset 0 -5px 12px rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
}

.contactButton:active {
	background-color: var(--contactButton-bg);
	color: var(--contactButton-text);
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0);
	transform: translate(2px, 2px);
}

.contactButton svg {
    margin-left: 8px;
}