.contactSection {
    font-family: 'Jura' !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    margin-top: auto;
    font-size: 1.5rem;
}

.contactSectionRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px;
    width: 100%;
}

.contactSectionRowMd {
    width: 25%;
}

.contactSectionRowLg {
    width: 25%;
}

.contactCardContainer {
    width: 100%;
}

.contactCardContainerMd {
    width: 50%;
}

.contactCardContainerLg {
    width: 50%;
}

.contactTitle {
    margin-bottom: 16px;
    font-size: 60px;
    font-family: 'Monoton', sans-serif;
}

.contactText {
    margin-bottom: 32px;
}

.contactSubText {
    margin-bottom: 8px;
}

.socialIcons {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.socialIcon {
    transition: transform 0.3s;
}

.socialIcon:hover {
    transform: translateY(-5px);
}

.underline {
    text-decoration: underline;
}

.hideOnSmallScreens {
    display: block;
}

.contactInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1750px) {
    
}

@media screen and (max-width: 768px) {
    .contactSection {
        flex-direction: column;
        width: 100%;
    }
    .socialIcon:nth-child(2),
    .socialIcon:nth-child(3) {
        margin-left: 25px;
    }

    .contactSectionRow {
        flex-direction: column;
        width: 100%;
        background: rgb(0, 0, 0);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 25px;
        padding: 20px;
        margin-bottom: 20px;
        z-index: 2;
        position: relative;
    }

    .contactInfoContainer {
        flex-direction: row;
        justify-content: center;
        gap: 25px;
    }
    .contactTitle {
        z-index: 4;
    }
}

@media screen and (max-width: 480px) {
    .contactTitle {
        margin-bottom: 0px;
        font-size: 48px;
        font-family: 'Monoton', sans-serif;
    }
    .contactSection {
        flex-direction: column;
        width: 100%;
    }
    .socialIcon:nth-child(2),
    .socialIcon:nth-child(3) {
        margin-left: 25px;
    }

    .contactInfoContainer {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
}