/* .droneContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
} */

.drone {
    position: absolute;
    top: -35%;
    left: 35%;
    width: 400px;
    height: auto;
    transform-origin: center;
    transition: transform 0.1s ease-out;
    z-index: 99;
    background-color: transparent;
}
