/* .droneContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
} */

.drone {
    position: absolute;
    top: -35%;
    left: 35%;
    width: 400px;
    height: auto;
    transform-origin: center;
    transition: transform 0.1s ease-out;
    z-index: 3;
    background-color: transparent;
}



@media screen and (max-width: 2200px) {
    .drone {
        left: 80%;
    }    
}

@media screen and (max-width: 768px) {
    .drone {
        top: -27%;
        left: 50%;
        z-index: 3;
    }    
}

@media screen and (max-width: 480px) {
    .drone {
        top: -30%;
        left: 20%;
        z-index: 3;
    }    
}
