.footerContainer {
    font-family: 'Jura', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: aliceblue;
    font-size: 1.5rem;
    letter-spacing: .13rem;
    border-radius: 15px;
    position: sticky;
    z-index: 0;
    bottom: 0;
    box-sizing: border-box;
    height: 50vh;
    transition: transform 0.3s ease-in-out;
}

.footer {
    display: flex;
    width: 90%;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .footerContainer {
        font-size: 1.2rem;
        margin-bottom: 0px;
        overflow: hidden;
    }
    .footer {
        display: flex;
        align-items: left;
        text-align: left;
        font-size: 1.2rem;
        margin-bottom: 0px;
        overflow: hidden;
    }
}