.navbar {
    color: var(--navbar-logo-color);
    position: fixed;
    background-color: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(10px);
    width: 70%;
    left: 0;
    right: 0;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    font-family: 'Jura', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.5px;
    z-index: 99;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
    display: inline-block;
}

.logo span {
    opacity: 0;
    filter: blur(5px);
    animation: fadeIn 0.5s forwards;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.logoText span:nth-child(1) {
    animation-delay: .2s;
}

.logoText span:nth-child(2) {
    animation-delay: 0.4s;
}

.logoText span:nth-child(3) {
    animation-delay: 0.6s;
}

.logoText span:nth-child(4) {
    animation-delay: 0.8s;
}

.logoText span:nth-child(5) {
    animation-delay: 1s;
}

.logoText span:nth-child(6) {
    animation-delay: 1.2s;
}

.logoText span:nth-child(7) {
    animation-delay: 1.4s;
}

.logoText span:nth-child(8) {
    animation-delay: 1.6s;
}

.logoText span:nth-child(9) {
    animation-delay: 1.8s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        filter: blur(0);
    }
}

.navLinks {
    font-family: 'Jura', sans-serif;
    color: var(--navbar-font-color);
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navLinks li {
    display: inline;
}

.navLinks a {
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    position: relative;
    margin-right: 25px;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

.navLinks a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.navLinks a:hover::after {
    width: 100%;
    left: 0;
}

.navLinks a:hover {
    color: var(--navbarLink-hover-color);
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;

}

@media (max-width: 1150px) {
    .navbar {
        width: 70%;
        top: 1%;
    }

    .logo {
        font-size: 2rem;
    }

    .navLinks a {
        font-size: 1.5rem;
        margin-right: 0;
    }
}



@media (max-width: 800px) {
    .navbar {
        width: 65%;
        top: 1%;
        margin: auto;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #00000063;
        backdrop-filter: blur(10px);
        padding: 1rem;
        border-radius: 25px;
        animation: slideDown 0.3s ease;
        font-weight: 1000;
    }

    .navLinks a {
        font-size: 1rem;
    }

    .navLinks.showMenu {
        display: flex;
    }

    .hamburger {
        display: block;
        color: black;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}