.servicesSection {
    padding: 40px 0;
    position: relative;
}

.servicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: auto;
}

.serviceCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 20px 3%;
    transition: transform 0.3s ease;
    perspective: 1000px;
    height: 300px;
    max-width: 500px;
    flex: 1 1 45%;
    font-family: 'Teko';
}

.serviceCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.serviceCard:hover .serviceCardInner {
    transform: rotateY(180deg);
}

.serviceCardFront, .serviceCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 30px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.serviceCardFront {
    /* background: #000000; */
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.serviceCardBack {
    background: #000000;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    font-family: 'Oswald';
    font-size: 1.5rem;
}

.serviceImageWrapper {
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
}

.serviceImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serviceText {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.serviceText h2 {
    margin-top: 0;
    font-size: 2.5em;
}

.serviceDescription {
    margin-top: 8px;
    font-size: 1em;
}

@media (max-width: 880px) {
    .serviceCard {
        flex: 1 1 100%;
    }
    .serviceText {
        width: 100%;
        height: auto;
    }
    .serviceImage {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .serviceText {
        width: 100%;
        height: auto;
        font-size: .8rem;
    }
    .serviceImageWrapper {
        width: 100%;
    }
    .serviceImage {
        width: 100%;
        height: auto;
    }
    .serviceCardBack {
        font-size: 1.2rem;
    }
}