.videoContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: auto;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    border: none;
    object-fit: cover;
}

.videoRow {
    display: flex;
    justify-content: space-between;
    margin: 50px 80px;
}

@media (max-width: 1000px) {
    .videoContainer {
        position: relative;
        /* margin: 0px -40px; */
        width: auto;
        height: 100vh;
    }
}

@media (max-width: 880px) {
    .videoContainer {
        position: relative;
        margin: 0px -40px;
        height: 80vh;
        padding: 56.25%;
    }
}

@media (max-width: 480px) {
    .videoContainer {
        position: relative;
        margin: 0px -30px;
        height: 100vh;
        padding: 56.25%;
    }
    .iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 80vh;
        border: none;
        object-fit: cover;
    }
}