.videoBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

@media (max-width: 1515px) {
    .videoBackground {
        width: auto;
        height: 100vh;
    }
}

@media (max-height: 800px) {
    .videoBackground {
        width: 100vw;
        height: auto;
    }
}